<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.item.dao.ModelMapper">
	<select id="list" parameterType="map" resultType="modelCommand">
		select * from (select a.*, rownum rnum from (select * from model
		<where>
			<if test="mo_model!=''">
				mo_model like '%' || #{mo_model} || '%'
			</if>
		</where>
		order by mo_model desc)a)
	<![CDATA[
		where rnum>=#{start} and rnum<=#{end}
	]]>
	</select>
	<select id="getCount" parameterType="map" resultType="integer">
		select count(*) from model
		<where>
			<if test="mo_model!=''">
				mo_model like '%' || #{mo_model} || '%'
			</if>
		</where>
	</select>
</mapper>